include mixin/mixin
doctype html
html(leng="en")
    head
        include parts/header
        +importCss("datatable")
    body.nav-md
        .container.body.container-body
            .main_container
                include parts/navbar-left
                include parts/navbar-top
                include parts/page-content/business
        +import-script("business", "datatable")
        include parts/model/main-dialog