include mixin/mixin
doctype html
html(leng="en")
    head
        include parts/header
        +importCss("datatable", "bootstrap-datepicker")
        +importScript("datatable")
    body.nav-md
        .container.body.container-body
            .main_container
                include parts/navbar-left
                include parts/navbar-top
                include parts/page-content/consumer_record
        +import-script("consumer_record", "datatable", "bootstrap-datepicker", "xlsx")
        include parts/model/main-dialog