include mixin/mixin
doctype html
html(leng="en")
    head
        include parts/header
        +importCss()
    body
        .container-body.login-bg
            .login-block
                .login-logo
                h1.login-title Call List
                //.login-input-block
                //    input.form-control.login-input#inputAct(type="text" placeholder="帳號")
                .login-input-block
                    input.form-control.login-input#inputPwd(type="password" placeholder="密碼")
                .login-btn-block
                    button.btn.btn-login 登入
        +import-script("login")
        include parts/model/main-dialog