include mixin/mixin
doctype html
html(leng="en")
    head
        include parts/header
        +importCss("datatable", "bootstrap-datepicker")
    body.nav-md
        .container.body.container-body
            .main_container
                include parts/navbar-left
                include parts/navbar-top
                include parts/page-content/member_content
        +import-script("member_content", "datatable", "bootstrap-datepicker")
        include parts/model/main-dialog