@charset "utf-8";

.login-btn-block{
  text-align: right;
  margin-top: 15px;

  .btn-login{
    @include btnTxtColor($txt-btn-login);
    background-color: $bg-btn-login;
  }
}

.btn-search{
  border-radius: 15px;
  margin: 0;
  padding: 2px 10px;
}

.btn.btn-edit{
  background: $bg-btn-edit;
  @include btnTxtColor($main-color-white);
  border-radius: 6px;
  padding: 2px 10px;
}

.btn-import, .btn-export{
  @include btnTxtColor($main-color-white);
  border-radius: 8px;
  padding: 4px 15px;
}
.btn-import{
  background: $bg-btn-import;
}
.btn-export{
  background: $bg-btn-export;
}

//.btn.btn-add{
//  @extend .btn.btn-edit;
//  background: $bg-btn-add;
//}
//
//.btn.btn-delete{
//  @extend .btn.btn-add;
//}
//
.switch-block{
  background: $bg-btn-switch;
  &, .btn-switch{
    display: inline-block;
    border-radius: 15px;
  }

  .btn-switch{
    width: 63px;
    padding: 6px;
    color: $txt-switch;
    cursor: pointer;
    text-align: center;
    @include select-none;

    &.selected {
      color: $txt-switch-selected;
      background: $bg-btn-switch-selected;
    }
  }
}
//
//.btn-cancel, .btn-send{ padding: 5px 10px;}
//
//.btn-cancel{
//  @include btnTxtColor(white);
//  background: $bg-btn-cancel;
//}
//.btn-send{
//  @include btnTxtColor(white);
//  background: $bg-btn-send;
//}
//
//.btn-upload{
//  @include btnTxtColor(white);
//  background: $bg-btn-upload;
//  padding: 5px 10px;
//  border-radius: 6px;
//}
//
//.btn-add-sort{
//  @include btnTxtColor(black);
//  @include select-none;
//  cursor: pointer;
//  &:before{
//    @include fontAwesome;
//    content: "\f067";
//    padding-right: 5px;
//    vertical-align: middle;
//  }
//}
//
//.btn-dialog, .btn-dialog-else{
//  @include btnTxtColor(white);
//}
//.btn-dialog{ background: $bg-btn-check;}
//.btn-dialog-else{ background: $bg-btn-cancel;}
