@charset "utf-8";

input{
  border: 1px solid $bg-border;

  &[type="text"]:disabled{ cursor: not-allowed;}
}

.login-input-block{
  .login-input{
    width: 100%;
  }
  &+.login-input-block{ margin-top: 15px;}
}

.input-search{
  width: 200px;
  padding: 1px 25px 1px 10px;
  margin-right: 10px;
}

.search-ic-block{
  position: relative;
  .input-search{
    border-radius: 15px;
    margin: 0;
    border: 1px solid $bg-border;
    padding: 2px 25px 2px 10px;
  }
  .fa-search{
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 10px 6px 3px;
    cursor: pointer;
  }
}

.input-date-block{
  display: inline-block;
  & + .input-date-block{

    &:before{
      content: '-';
      margin: 0 10px;
    }
  }
}
.input-date{
  width: 125px;
  padding: 1px 25px 1px 10px;
}

.remark-input-block{
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 500px;
  i {
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 10px 6px 3px;
    cursor: pointer;
  }
}
.input-remark{
  width: 100%;
  padding: 2px 25px 2px 10px;
}

input.form-control.max-width{
  max-width: 200px;
}