@charset "utf-8";

label.select-check{
  margin: 0;
  display: inline-block;
  background-color: $bg-select-check;
  vertical-align: sub;
  padding: 9px;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
}

input[type=checkbox]:checked ~ label.select-check{
  background-color: $bg-select-checked;
  &:before{
    @include fontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    content: '\f00c';
    color: white;
    padding: 2.5px;
  }
}

select{
  border: 1px solid $bg-border;
  &.select-type{
    width: 125px;
    height: 25px;
  }

  &.select-mini{
    display: inline-block;
    width: 125px;
    margin: 0 10px 10px 0;
  }

  &:disabled{
    background: rgb(235, 235, 228);
    cursor: not-allowed;
  }
}

.radio-btn{
  display: inline-flex;
  vertical-align: text-top;
  justify-content: center;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  border: 1px solid $bg-border;
  border-radius: 50%;
}

.radio-state-open, .radio-state-close, .radio-btn{
  cursor: pointer;
}
.radio-state-open{
  &:after{
    content: '開啟';
  }
}
.radio-state-close{
  &:after{
    content: '關閉';
  }
}

input[type=radio]:checked ~ label .radio-btn{
  //border-color: $bg-radio;

  &:before{
    display: inline-block;
    content: '';
    background: $bg-radio;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    align-self: center;
  }
}