//data table
script(src="../vendors/datatables.net/js/jquery.dataTables.min.js")
script(src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js")
script(src="../vendors/datatables.net-buttons/js/dataTables.buttons.min.js")
script(src="../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js")
script(src="../vendors/datatables.net-buttons/js/buttons.flash.min.js")
script(src="../vendors/datatables.net-buttons/js/buttons.html5.min.js")
script(src="../vendors/datatables.net-buttons/js/buttons.print.min.js")
script(src="../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js")
script(src="../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js")
script(src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js")
script(src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js")
script(src="../vendors/datatables.net-scroller/js/dataTables.scroller.min.js")
script(src="../vendors/pdfmake/build/vfs_fonts.js")

