mixin import-script (currentPage, ...elseScript)
    //General script, all page need it.
    include ../parts/script/default-script
    //Add script, some page select it.
    each script in elseScript
        case script
            when "datatable"
                include ../parts/script/datatable-script
            when "progressbar"
                //Progressbar
                script(src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js")
            when "wizard"
                //Smart Wizard
                script(src="../vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js")
            when "bootstrap-daterangepicker"
                include ../parts/script/bootstrap-daterangepicker
            when "bootstrap-datepicker"
                script(src="../vendors/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")
                //script(src="../javascripts/datepicker-language.js" charset="UTF-8")
            //when "bootstrap-datepicker1"
            //    link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css', rel='stylesheet')
            //    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js")
            when "Dropzone"
                include ../parts/script/Dropzone-script
            when "iCheck"
                //iCheck
                script(src="../vendors/iCheck/icheck.min.js")
            when "morris"
                include ../parts/script/morris-script
            when "easypiechart"
                //easypiechart
                script(src="../vendors/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js")
            when "switchery"
                //switchery
                script(src="../vendors/switchery/dist/switchery.min.js")
            when "cropper"
                //cropper
                script(src="../vendors/cropper/dist/cropper.min.js")
            when "aws"
                script(src="https://sdk.amazonaws.com/js/aws-sdk-2.2.40.min.js")
            when "xlsx"
                script(src="../vendors/js-xlsx/dist/xlsx.full.min.js")
    //General script, all page need it.
    include ../parts/script/common-script
    //Current page script, only be set in current page.
    case currentPage
        when "login"
            script(src="js/login.js")
        when "business"
            script(src="js/business.js")
        when "business_content"
            script(src="js/business_content.js")
        when "member"
            script(src="js/member.js")
        when "member_content"
            script(src="js/member_content.js")
        when "consumer_record"
            script(src="js/consumer_record.js")
        when "call_record"
            script(src="js/call_record.js")
        when "setting"
            script(src="js/setting.js")
        when "performance"
            script(src="js/performance.js")
