@charset "utf-8";

html, body, .container-body{
  width: 100%;
  height: 100%;
  min-width: 320px;
}

textarea { resize: none;}

body.nav-md, body.nav-sm{
  background: $bg-navbar-left;
  .left_col{
    @include select-none;
  }
  .nav_title, .left_col, .nav.side-menu>li.active>a {
    background: $bg-navbar-left;
  }
  .nav.side-menu>li.active, .nav.side-menu>li.current-page, .nav.side-menu li.active-sm{
    border-right: 5px solid $bg-navbar-left-border;
  }

  ul.nav.child_menu li{
    &:before{
      background: $bg-navbar-left-line;
    }
    &:after{
      border-left: 1px solid $bg-navbar-left-line;
    }
  }
  .site_title{
    padding-left: 0;
  }
}

body .container.body .right_col{ background: $bg-container-body;}

.nav-sm ul.nav.child_menu{
  background: $bg-navbar-left;
}

.navbar-logo{
  //@extend .ic-navbar-logo;
  background-size: 90%;
  padding: 30px;
}

.nav-sm .navbar-logo{
  width: 185px;
  background-size: 100%;
}

.container-body{
  &.login-bg, &.error-bg{
    display: flex;
    justify-content: center;
    background: $bg-login;
  }
}

.login-block, .error-block{
  display: inline-block;
  align-self: center;
  text-align: center;
  width: 90%;
  margin: 0 5%;

  .login-log, .error-logo{
    display: inline-block;
    width: 256px;
    height: 256px;
  }

  .login-title{
    margin-bottom: 30px;
    color: white;
  }
}

.error-block{
  h3, h4 {
    color: white;
  }
}

.main-body{
  .page-title{
    @include select-none;
    .row-first, .row-second{
      float: left;
      width: 100%;
    }

    .row-second{
      text-align: right;
      padding: 0 15px;

      hr{
        margin: 0;
      }
    }
  }

  .row{
    margin-top: 15px;
  }
}

.status-select-block, .input-status-block, .search-ic-block, .type-select-block, .search-block, .add-sort-block, .delete-block, .save-block{
  display: inline-block;
  vertical-align: middle;
  margin: 6px 10px;

  label{
    margin: 0;
    line-height: 27px;
  }

  &:empty{
    height: 39px;
  }
}
.delete-block, .save-block{
  &, i, label{
    vertical-align: middle;
    cursor: pointer;
  }
  i{
    margin-right: 5px;
    font-size: 15px;
  }
  label{ font-weight: initial;}
  @include btnTxtColor($txt-btn);
}
.status-select-block, .type-select-block{
  & > label:after{
    content: ':';
    padding: 0 5px;
  }
}
.status-select-block{
  margin-left: 0;
}
.type-select-block{

}
.search-block{
  margin-right: 0;
}
.remark-block{
  text-align: left;
}


.form-group{
  .form-title{
    width: 100px;
    vertical-align: middle;
  }
  .form-content{
    display: inline-block;
    width: 100%;
    &.auto-fill{
      width: 100%;
      max-width: none;
    }
  }
  .form-btn-group{
    text-align: right;
    margin-top: 30px;
    button+button{ margin-left: 9px;}
  }

  &+.form-group{ margin-top: 50px;}
}

.form-content{
  select.select-mini{
    width: 48.5%;
    &:first-child{ margin-right: 3%;}
    &:nth-child(2){ margin-right: 0;}
  }
}

#costTotal{
  text-align: center;
  font-weight: bold;
  &:before{
    content: '總消費次數 (';
    padding-right: 5px;
  }
  &:after{
    content: ')';
    padding-left: 5px;
  }
}

.btns-footer{
  text-align: right;
  button+button{
    margin-left: 10px;
  }
}