@charset "utf-8";

@mixin scale($size){
  -webkit-transform: scale($size);
  -moz-transform: scale($size);
  -ms-transform: scale($size);
  -o-transform: scale($size);
  transform: scale($size);
}

@mixin btnTxtColor($color) {
  color: rgba($color, .8);
  &:hover, &:focus{
    color: $color;
  }
}

@mixin fontAwesome{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin select-none{
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}