@charset "utf-8";
@media (min-width: 480px) {
  .login-block{
    width: 350px;
  }
}

@media (min-width: 768px) {
  .form-group{
    .form-content{
      width: 50%;
      min-width: 400px;
      max-width: 400px;
    }
  }
}

@media (min-width: 992px) {
  .main_container .top_nav{ display: none;}
}

@media (min-width: 1200px) {
  .form-group{
    .form-btn-group{
      text-align: left;
    }
  }
}

@media (min-width: 1500px) {

}

@media (min-width: 1920px) {

}