@charset "utf-8";
$main-color-1: #003355;
$main-color-2: #E5E8E7;
$main-color-3: #E8EAEC;
$main-color-4: #54CD86;
$main-color-5: #F7F7FC;
$main-color-6: #545256;
$main-color-7: #005099;
$main-color-8: #969696;
$main-color-9: #E1E1E1;
$main-color-10: #114EC0;
$main-color-11: #F23934;
$main-color-12: #F2AA2D;

$main-color-black: #1B2326;
$main-color-white: #ffffff;

$bg-login: $main-color-1;
$bg-container-body: $main-color-5;
$bg-radio: $main-color-8;
$bg-border: $main-color-9;

$bg-tb-page: $main-color-9;
$bg-tb-th: $main-color-1;

$bg-navbar-left: $main-color-1;
$bg-navbar-left-line: $main-color-3;
$bg-navbar-left-border: $main-color-4;

$bg-select-check: $main-color-3;
$bg-select-checked: $main-color-4;

$bg-loading-circle: $main-color-1;
$bg-loading-border-top: $main-color-2;

$bg-btn-login: $main-color-2;
$bg-btn-edit: $main-color-7;
$bg-btn-switch: $main-color-9;
$bg-btn-switch-selected: $main-color-7;
$bg-btn-export: $main-color-10;
$bg-btn-import: $main-color-11;

$txt-switch: $main-color-black;
$txt-switch-selected: $main-color-white;

$txt-btn-login: $main-color-1;
$txt-btn: $main-color-6;

$txt-tb-page: $main-color-1;
$txt-tb-page-hover: $main-color-12;
$txt-tb-page-disabled: $main-color-8;
