#sidebar-menu.main_menu_side.hidden-print.main_menu
    .menu_section
        //h3 title
        ul.nav.side-menu
            li: a(href="business")
                i.fa.fa-suitcase
                | 業務人員管理
            li: a(href="member")
                i.fa.fa-user
                | 會員管理
            li: a(href="consumer_record")
                i.fa.fa-newspaper-o
                | 消費紀錄管理
            li: a(href="call_record")
                i.fa.fa-phone
                | 來電紀錄
            li: a(href="performance")
                i.fa.fa-file-text-o
                | 業務員績效
            li: a(href="setting")
                i.fa.fa-clock-o
                | 暫時安全名單設定
            li: a(href="login")
                i.fa.fa-power-off
                | 登出