meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
title #{pageTitle}

link(href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
link(href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet")

mixin importCss (...keyList)
    each key in keyList
        case key
            when "datatable"
                //Data tables
                link(href="../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet")
                link(href="../vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet")
                link(href="../vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet")
                link(href="../vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet")
                link(href="../vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet")
            when "iCheck-minimal-blue"
                //iCheck-minimal-blue
                link(href="../vendors/iCheck/skins/minimal/blue.css" rel="stylesheet")
            when "daterangepicker"
                //daterangepicker
                link(href="../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet")
            when "bootstrap-datepicker"
                link(href="../vendors/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet")
            when "progressbar"
                //bootstrap-progressbar
                link(href="../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet")
            when "jqvmap"
                //jqvmap
                link(href="../vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet")
            when "switchery"
                //switchery
                link(href="../vendors/switchery/dist/switchery.min.css" rel="stylesheet")
            when "cropper"
                //cropper
                link(href="../vendors/cropper/dist/cropper.min.css" rel="stylesheet")
    //Common style
    link(href="../stylesheets/custom.min.css" rel="stylesheet")
    link(href="css/style.css" rel="stylesheet")

mixin stylesheetsCss
    link(href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
    link(href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet")
    link(href="/stylesheets/style.css" rel="stylesheet")
mixin importScript (key)
    case key
        when "datatable"
            script(src="../vendors/jszip/dist/jszip.min.js")
            script(src="../vendors/pdfmake/build/pdfmake.min.js")