@charset "utf-8";

.dataTables_paginate a{
  background: $bg-tb-page !important;
  border-color: $bg-tb-page !important;
}

.pagination{
  & > .disabled{
    & > a, & > span{
      &, &:focus, &:hover{
        color: $txt-tb-page-disabled;
      }
    }
  }

  & > .active{
    & > a, & > span{
      &, &:focus, &:hover{
        color: $txt-tb-page-hover;
      }
    }
  }

  & > li{
    & > a, & > span{
      color: $txt-tb-page;
      &:focus{
        color: $txt-tb-page;
      }
      &:hover{
        color: $txt-tb-page-hover;
      }
    }
  }
}

#dbSort{
  max-width: 500px !important;
}

.m-table{
  border: 1px solid #ccc;

  thead > tr > th{
    line-height: 30px;
    background: $bg-tb-th;
    color: white;
    font-weight: initial;
    text-align: center;
  }
  tbody > tr > td {
    text-align: center;
    vertical-align: middle;
  }

  thead .sorting_desc:after{
    visibility: hidden;
  }

}

.tb-content.overflow{
  overflow: auto;
}

.btn-excel{
  display: none;
}

.dbExport .dt-buttons{
  display: none;
}