@charset "utf-8";
$dialog-width: 379px;
$dialog-btn-padding: 8px 12px;
$dialog-input-padding: 5px 12px;
$dialog-title-txt-size: 16px;
$dialog-body-txt-size: 14px;
$dialog-input-txt-size: 14px;
$dialog-else-txt-size: 14px;
$dialog-btn-oval-txt-size: 14px;
$dialog-description-txt-size: 14px;

.dialog-main{
  @include select-none;
  .modal-dialog{
    align-self: center;
    width: $dialog-width;
    min-width: $dialog-width;
    margin: auto;
  }

  .modal-content{
    padding: 25px 20px 15px;
    border-radius: 0;
  }

  .dialog-header{
    text-align: center;
    border: 0;
    .modal-title{
      font-size: $dialog-title-txt-size;
      color: black;
      font-weight: 400;
    }
  }
  .dialog-body{
    text-align: center;
    font-size: $dialog-body-txt-size;
    color: black;
    padding: 26px 15px;
    &.bottom-noPadding{
      padding-bottom: 0;
    }
    p {
      &:last-child{margin-bottom: 0;}
    }
  }
  .dialog-footer{
    text-align: center;
    border: 0;
  }
}

#sCropper-dialog{
  .modal-dialog{
    width: 700px;
    min-width: 700px;

    &[role="course"]{
      width: 700px;
      min-width: 700px;
    }

    &[role="user"]{
      width: 500px;
      min-width: 500px;
    }
  }

  .twice-btn{

    button.btn-dialog{
      max-width: 150px;
    }
  }
}