.scrollHide{
  overflow-y: hidden;
}

.loading-bg{
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1051;
  background-color: rgba(0,0,0, 0.5);
  justify-content: center;

  .loading-body{
    text-align: center;
    align-self: center;
    display: inline-block;
    position: relative;
  }

  .loading-logo{
    border: 8px solid $bg-loading-circle;
    border-radius: 50%;
    border-top: 8px solid $bg-loading-border-top;
    width: 140px;
    height: 140px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .loading-txt{
    //padding-top: 5px;
    text-align: center;
    color: white;
    position: absolute;
    padding: 0 9px;
    top: 60px;
    left: 0;
    right: 0;

    i {
      font-style: initial;
      display: inline-block;
      position: relative;
      //font-size: 18px;
      //letter-spacing: 6px;
      font-size: 14px;
      letter-spacing: 3px;

      &.txt-loading{
        -webkit-animation-name: txt-loading;
        -moz-animation-name: txt-loading;
        -o-animation-name: txt-loading;
        animation-name: txt-loading;

        -webkit-animation-duration: 2.09s;
        -moz-animation-duration: 2.09s;
        -o-animation-duration: 2.09s;
        animation-duration: 2.09s;

        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: normal;
        -moz-animation-direction: normal;
        -o-animation-direction: normal;
        animation-direction: normal;

        -webkit-transform: scale(.5);
        -moz-transform: scale(.5);
        -ms-transform: scale(.5);
        -o-transform: scale(.5);
        transform: scale(.5);

        &:nth-child(3n+1){
          -webkit-animation-delay: .75s;
          -moz-animation-delay: .75s;
          -o-animation-delay: .75s;
          animation-delay: .75s;
        }
        &:nth-child(3n+2){
          -webkit-animation-delay: .9s;
          -moz-animation-delay: .9s;
          -o-animation-delay: .9s;
          animation-delay: .9s;
        }
        &:nth-child(3n+3){
          -webkit-animation-delay: 1.05s;
          -moz-animation-delay: 1.05s;
          -o-animation-delay: 1.05s;
          animation-delay: 1.05s;
        }
        //&:nth-child(3n+4){
        //  -webkit-animation-delay: 1.2s;
        //  -moz-animation-delay: 1.2s;
        //  -o-animation-delay: 1.2s;
        //  animation-delay: 1.2s;
        //}
      }

      &.txt-uploading{
        -webkit-animation-name: txt-uploading;
        -moz-animation-name: txt-uploading;
        -o-animation-name: txt-uploading;
        animation-name: txt-uploading;

        -webkit-animation-duration: 2.09s;
        -moz-animation-duration: 2.09s;
        -o-animation-duration: 2.09s;
        animation-duration: 2.09s;

        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: normal;
        -moz-animation-direction: normal;
        -o-animation-direction: normal;
        animation-direction: normal;

        //-webkit-transform: scale(.5);
        //-moz-transform: scale(.5);
        //-ms-transform: scale(.5);
        //-o-transform: scale(.5);
        //transform: scale(.5);

        &:nth-child(7n+1){
          -webkit-animation-delay: .75s;
          -moz-animation-delay: .75s;
          -o-animation-delay: .75s;
          animation-delay: .75s;
        }
        &:nth-child(7n+2){
          -webkit-animation-delay: .9s;
          -moz-animation-delay: .9s;
          -o-animation-delay: .9s;
          animation-delay: .9s;
        }
        &:nth-child(7n+3){
          -webkit-animation-delay: 1.05s;
          -moz-animation-delay: 1.05s;
          -o-animation-delay: 1.05s;
          animation-delay: 1.05s;
        }
        &:nth-child(7n+4){
          -webkit-animation-delay: 1.2s;
          -moz-animation-delay: 1.2s;
          -o-animation-delay: 1.2s;
          animation-delay: 1.2s;
        }
        &:nth-child(7n+5){
          -webkit-animation-delay: 1.35s;
          -moz-animation-delay: 1.35s;
          -o-animation-delay: 1.35s;
          animation-delay: 1.35s;
        }
        &:nth-child(7n+6){
          -webkit-animation-delay: 1.5s;
          -moz-animation-delay: 1.5s;
          -o-animation-delay: 1.5s;
          animation-delay: 1.5s;
        }
        &:nth-child(7n+7){
          -webkit-animation-delay: 1.65s;
          -moz-animation-delay: 1.65s;
          -o-animation-delay: 1.65s;
          animation-delay: 1.65s;
        }
      }
    }
  }
}