-var dataList = [{UUID: '0d4ba4fb-382e', Name: '業務A', isCost: 'Y', isBlack: 'Y', isPs: 'Y', isReport: 'Y'}, {UUID: '0d4ba4fb-382f', Name: '業務B', isCost: 'Y', isBlack: 'N', isPs: 'N', isReport: 'Y'}]
-var UUID = '0d4ba4fb-382e'

.right_col.main-body(role="main")
    .page-title
        .row-first
            h3.title-page#uuidTitle #{UUID}
        .row-second
            //.save-block
            //    i.fa.fa-hdd-o
            //    label 存檔
            hr
    .clearfix
    .row
        .col-md-12.col-sm-12.col-xs-12
            .x_panel
                //.x_title
                .x_content
                    .tb-content.overflow
                        .form-group
                            label.form-title 業務名稱：
                            .form-content.auto-fill
                                if detailP
                                    -var productName = detailP.Name
                                    input#inputTitle.form-control.max-width(maxlength="50" value="" + productName + "")
                                else
                                    input#inputTitle.form-control.max-width(maxlength="50")
                        .form-group
                            label.form-title 區域：
                            .form-content.auto-fill(style="display: flex")
                                if detailP
                                    -var zip = detailP.Zip
                                    input#inputZip.form-control.max-width(maxlength="10" value="" + zip + "" )
                                else
                                    input#inputZip.form-control.max-width(maxlength="10" )
                                //select.form-control(style="width:120px")#sltCity
                                //    each val in ["縣市"]
                                //        option=val
                                //select.form-control(style="width:120px;margin-left:5px")#sltArea
                                //    each val in ["區域"]
                                //        option=val
                        .form-group
                            label.form-title 消費紀錄：
                            .form-content
                                .switch-block(role="cost")
                                    .btn-switch(role="open") 開啟
                                    .btn-switch.selected(role="close") 關閉
                        .form-group
                            label.form-title 黑名單：
                            .form-content
                                .switch-block(role="black")
                                    .btn-switch(role="open") 開啟
                                    .btn-switch.selected(role="close") 關閉
                        .form-group
                            label.form-title 會員備註：
                            .form-content
                                .switch-block(role="remark")
                                    .btn-switch(role="open") 開啟
                                    .btn-switch.selected(role="close") 關閉
                        .form-group
                            label.form-title 回報系統：
                            .form-content
                                .switch-block(role="report")
                                    .btn-switch(role="open") 開啟
                                    .btn-switch.selected(role="close") 關閉
    .save-block
        i.fa.fa-hdd-o
        label 存檔