-var dataList = [{UUID: '0d4ba4fb-382e', Name: '業務A', isCost: 'Y', isBlack: 'Y', isPs: 'Y', isReport: 'Y'}, {UUID: '0d4ba4fb-382f', Name: '業務B', isCost: 'Y', isBlack: 'N', isPs: 'N', isReport: 'Y'}]
mixin row-items(data)
    -var id = data.UUID
    tr
        td
            input.hide(id=""+id type="checkbox" name="selectBox")
            label.select-check(for=""+id+"")
        td #{id}
        td #{data.Name}
        td: if data.isCost == 'Y'
                i.fa.fa-check
        td: if data.isBlack == 'Y'
            i.fa.fa-check
        td: if data.isPs == 'Y'
            i.fa.fa-check
        td: if data.isReport == 'Y'
            i.fa.fa-check
        td: button.btn.btn-edit(data-id=""+id+"" onclick="window.location.href='business_content'") 編輯

.right_col.main-body(role="main")
    .page-title
        .row-first
            h3.title-page 業務人員管理
        .row-second
            .delete-block
                i.fa.fa-trash
                label 刪除
            hr
    .clearfix
    .row
        .col-md-12.col-sm-12.col-xs-12
            .x_panel
                //.x_title
                .x_content
                    .tb-content.overflow
                        table#dbBusiness.m-table.table.table-hover.table-click.nowrap(width="100%")
                            thead
                                tr
                                    th
                                        input#checkAll.hide(type="checkbox")
                                        label.select-check(for="checkAll")
                                    th UUID
                                    th 業務專員
                                    th 區域
                                    th 消費紀錄
                                    th 黑名單
                                    th 備註
                                    th 回報
                                    th
                            tbody
                                //if dataList
                                //    each data in dataList
                                //        +row-items(data)