-var dataList = [{id: '0d4ba4fb-382e', Number: '0988552213', Name: '業務A', Date: '2016.10.15 05:20', State: '會員'}, {id: '0d4ba4fb-382f', Number: '0955552213', Name: '業務B', Date: '2016.09.09 15:32', State: '非會員'}]
mixin row-items(data)
    -var id = data.id
    tr
        td #{data.Date}
        td #{data.Number}
        td #{data.State}
        td #{data.Name}

.right_col.main-body(role="main")
    .page-title
        .row-first
            h3.title-page 來電紀錄
        .row-second
            .type-select-block(role="select")
                .input-status-block
                    input.hide(id="d-radio" type="radio" checked="checked")
                    label.radioBtn(for="d-radio")
                        .radio-btn
                select#searchDate.select-type
                    option(selected disabled) 月份
                    option(value="prev") 前月
                    option(value="now") 當月
                    option(value="3day" selected="true") 近三日
            .type-select-block(role="select")
                .input-status-block
                    input.hide(id="s-radio" type="radio")
                    label.radioBtn(for="s-radio")
                        .radio-btn
                select#searchStatus.select-type(disabled)
                    option(selected disabled) 身分篩選
                    option(value="Y") 會員
                    option(value="N") 非會員
            .type-select-block(role="select")
                .input-status-block
                    input.hide(id="t-radio" type="radio")
                    label.radioBtn(for="t-radio")
                        .radio-btn
                select#searchType.select-type(disabled)
                    option(selected disabled) 業務專員
                    if productTypeList
                        each type in productTypeList
                            +productType-item(type)
            .search-ic-block
                input#searchInput.input-search(type="text" placeholder="電話號碼")
                i.fa.fa-search#searchBtn
            hr
    .clearfix
    .row
        .col-md-12.col-sm-12.col-xs-12
            .x_panel
                //.x_title
                .x_content
                    .tb-content.overflow
                        table#dbCall.m-table.table.table-hover.table-click.nowrap(width="100%")
                            thead
                                tr
                                    th 來電時間
                                    th 電話
                                    th 身份
                                    th 業務專員
                                    th 屬性
                            tbody
                                //if dataList
                                //    each data in dataList
                                //        +row-items(data)