-var dataList = [{id: '0d4ba4fb-382e', Number: '0988552213', Name: '業務A', Date: '2016.10.15', Ps: 'XXXX'}, {id: '0d4ba4fb-382f', Number: '0955552213', Name: '業務B', Date: '2016.09.28', Ps: 'XXXXXXXX'}]
mixin row-items(data)
    -var id = data.id
    tr
        td
            input.hide(id="" + id type="checkbox" name="selectBox")
            label.select-check(for="" + id + "")
        td #{data.Date}
        td #{data.Number}
        td #{data.Name}
        td #{data.Ps}

.right_col.main-body(role="main")
    .page-title
        .row-first
            h3.title-page 消費紀錄管理
        .row-second
            .type-select-block(role="select")
                .input-status-block
                    input.hide(id="d-radio" type="radio")
                    label.radioBtn(for="d-radio")
                        .radio-btn
                .input-date-block
                    input#searchDateS.input-date(type="text" placeholder="年/月/日" disabled)
                    .ic-dash
                    input#searchDateE.input-date(type="text" placeholder="年/月/日" disabled)
            .type-select-block(role="select")
                .input-status-block
                    input.hide(id="s-radio" type="radio")
                    label.radioBtn(for="s-radio")
                        .radio-btn
                input#searchBusiness.input-search(type="text" placeholder="業務專員" disabled)
                //select#searchType.select-type(disabled)
                //    option(selected disabled) 業務專員
                //    if productTypeList
                //        each type in productTypeList
                //            +productType-item(type)
            .search-ic-block
                input#searchInput.input-search(type="text" placeholder="電話號碼")
                i.fa.fa-search#searchBtn
            .delete-block
                i.fa.fa-trash
                label 刪除
            hr
    .clearfix
    .row
        .col-md-12.col-sm-12.col-xs-12
            .x_panel
                //.x_title
                .x_content
                    .tb-content.overflow
                        table#dbConsumer.m-table.table.table-hover.table-click.nowrap(width="100%")
                            thead
                                tr
                                    th
                                        input#checkAll.hide(type="checkbox")
                                        label.select-check(for="checkAll")
                                    th 日期
                                    th 電話
                                    th 業務專員
                                    th 消費備註
                            tbody
                                //if dataList
                                //    each data in dataList
                                //        +row-items(data)

            .btns-footer
                input.hide#importInput(type="file" accept=".xls, .xlsx")
                button.btn.btn-export#btnExport 匯出
                button.btn.btn-import#btnImport 匯入