-var dataList = [{id: '0d4ba4fb-382e', Number: '0988552213', CostMonth: '5', CostTotal: '88', isBlack: 'N'}, {id: '0d4ba4fb-382f', Number: '0955552213', CostMonth: '77', CostTotal: '999', isBlack: 'Y'}]
mixin row-items(data)
    -var id = data.id
    tr
        td
            input.hide(id=""+id type="checkbox" name="selectBox")
            label.select-check(for=""+id+"")
        td #{data.Number}
        td #{data.CostMonth}
        td #{data.CostTotal}
        td: .switch-block(role="state")
            if data.isBlack == 'Y'
                .btn-switch(role="open") 一般
                .btn-switch.selected(role="close") 黑名單
            else
                .btn-switch.selected(role="open") 一般
                .btn-switch(role="close") 黑名單

.right_col.main-body(role="main")
    .page-title
        .row-first
            h3.title-page 會員管理
        .row-second
            button#exportExcel.btn.btn-default.btn-sm.hidden 匯出Excel
            .type-select-block(role="select")
                .input-status-block
                    input.hide(id="c-radio" type="radio")
                    label.radioBtn(for="c-radio")
                        .radio-btn
                select#searchType.select-type(disabled)
                    option(value="" selected disabled) 身分篩選
                    option(value="Y") 一般
                    option(value="N") 黑名單

            .search-ic-block
                input#searchInput.input-search(type="text" placeholder="查詢電話號碼及會員備註")
                i.fa.fa-search#searchBtn
            .delete-block
                i.fa.fa-trash
                label 刪除
            hr
    .clearfix
    .row
        .col-md-12.col-sm-12.col-xs-12
            .x_panel
                //.x_title
                .x_content
                    .tb-content.overflow
                        table#dbMember.m-table.table.table-hover.table-click.nowrap(width="100%")
                            thead
                                tr
                                    th
                                        input#checkAll.hide(type="checkbox")
                                        label.select-check(for="checkAll")
                                    th 電話
                                    th 上一個月消費紀錄
                                    th 總消費次數
                                    th 最新備註
                                    th 會員備註
                                    th 身分狀態
                            tbody
                                //if dataList
                                //    each data in dataList
                                //        +row-items(data)