-var dataList = [{id: '0d4ba4fb-382e', Name: '業務A', Date: '2016.10', Ps: 'XXXX'}, {id: '0d4ba4fb-382f', Name: '業務B', Date: '2016.9', Ps: 'XXXXXXXX'}]
-var Phone = '0900112453'
mixin row-items(data)
    -var id = data.id
    tr
        td #{data.Date}
        td #{data.Name}
        td #{data.Ps}

.right_col.main-body(role="main")
    .page-title
        .row-first
            h3.title-page #{Phone}
            .remark-block
                .remark-input-block
                    input#remarkInput.input-remark(type="text" placeholder="備註（限30字）" maxlength="30")
                    i.fa.fa-pencil#remarkBtn
        .row-second
            .type-select-block(role="select")
                .input-status-block
                    input.hide(id="d-radio" type="radio")
                    label.radioBtn(for="d-radio")
                        .radio-btn
                .input-date-block
                    input#searchDateS.input-date(type="text" placeholder="年 月" disabled)
                    .ic-dash
                    input#searchDateE.input-date(type="text" placeholder="年 月" disabled)
            .type-select-block(role="select")
                .input-status-block
                    input.hide(id="s-radio" type="radio")
                    label.radioBtn(for="s-radio")
                        .radio-btn
                input#searchBusiness.input-search(type="text" placeholder="業務專員" disabled)
                //select#searchType.select-type(disabled)
                //    option(selected disabled) 業務專員
                //    if productTypeList
                //        each type in productTypeList
                //            +productType-item(type)
            .search-ic-block
                input#searchInput.input-search(type="text" placeholder="請輸入相關字")
                i.fa.fa-search#searchBtn
            hr
    .clearfix
    .row
        .col-md-12.col-sm-12.col-xs-12
            .x_panel
                //.x_title
                .x_content
                    .tb-content.overflow
                        //h5#costTotal #{dataList.length}
                        h5#costTotal 0
                        table#dbMember.m-table.table.table-hover.table-click.nowrap(width="100%")
                            thead
                                tr
                                    th 年．月
                                    th 業務專員
                                    th 消費備註
                            tbody
                                //if dataList
                                //    each data in dataList
                                //        +row-items(data)