//-var dataList = [{id: '0d4ba4fb-382e', Number: '0988552213', Name: '業務A', Date: '2016.10.15', Ps: 'XXXX'}, {id: '0d4ba4fb-382f', Number: '0955552213', Name: '業務B', Date: '2016.09.28', Ps: 'XXXXXXXX'}]
//mixin row-items(data)
//    -var id = data.id
//    tr
//        //td
//        //    input.hide(id="" + id type="checkbox" name="selectBox")
//        //    label.select-check(for="" + id + "")
//        td #{data.Date}
//        td #{data.Number}
//        td #{data.Name}
//        td #{data.Ps}

.right_col.main-body(role="main")
    .page-title
        .row-first
            h3.title-page 業務員績效
        .row-second
            .input-date-block
                input#searchDateS(type="text" placeholder="西元年月(例:201905)" style="width:150px")
                .ic-dash
                input#searchDateE(type="text" placeholder="西元年月(例:201905)" style="width:150px")

            .search-ic-block
                input#searchInput.input-search(type="text" placeholder="業務專員")
                i.fa.fa-search#searchBtn
            hr
    .clearfix
    .row
        .col-md-12.col-sm-12.col-xs-12
            .x_panel
                //.x_title
                .x_content
                    .tb-content.overflow
                        table#dbConsumer.m-table.table.table-hover.table-click.nowrap(width="100%")
                            thead
                                tr
                                    //th
                                    //    input#checkAll.hide(type="checkbox")
                                    //    label.select-check(for="checkAll")
                                    th 年月
                                    th 業務專員
                                    th 次數
                            tbody
                                //if dataList
                                //    each data in dataList
                                //        +row-items(data)

            .btns-footer
                input.hide#importInput(type="file" accept=".xls, .xlsx")
                button.btn.btn-export#btnExport 匯出
                //button.btn.btn-import#btnImport 匯入