.right_col.main-body(role="main")
    .page-title
        .row-first
            h3.title-page#Title 暫時安全名單設定
        .row-second
            //.save-block
            //    i.fa.fa-hdd-o
            //    label 存檔
            hr
    .clearfix
    .row
        .col-md-12.col-sm-12.col-xs-12
            .x_panel
                //.x_title
                .x_content
                    .tb-content.overflow
                        .form-group
                            label.form-title 時段(24小時制) <br>
                            div 在本時段撥打進來的號碼視為暫時安全
                            .form-content.auto-fill(style="display: flex;margin-top:20px")
                                input#inputST.form-control.max-width(maxlength="10",placeholder="24小時制,如: 18:30",type="hidden")
                                input#inputET.form-control.max-width(maxlength="10",placeholder="24小時制,如: 23:30",type="hidden")
                                i.fa.fa-clock-o(style="font-size:x-large")
                                input#inputH1.form-control(type="number" style="width: 80px;margin-left:5px")
                                input#inputM1.form-control(type="number" style="width: 80px;margin-left:5px")
                                span(style="margin-left:10px;font-size:x-large") ~
                                i.fa.fa-clock-o(style="margin-left:10px;font-size:x-large")
                                input#inputH2.form-control(type="number",style="width: 80px;margin-left:5px")
                                input#inputM2.form-control(type="number",style="width: 80px;margin-left:5px")
                        .form-group
                            label.form-title(style="width: max-content;") 消費區域數量設定：
                            div 設定需要撥打給幾個不同區業務員才可視為暫時安全（例：設定２，會員需要打給２個區的會員才算暫時安全。）
                            .form-content.auto-fill(style="display: flex;margin-top:10px")
                                span(style="font-weight:bold") 跨區數量
                                input#inputCnt.form-control(type="number",style="width: 80px;margin-left:10px")
                        .form-group
                            label.form-title(style="width: max-content;color:crimson") ＊以上條件只要符合其中一項，即由系統加入暫時安全名單
    .save-block
        i.fa.fa-hdd-o
        label 存檔