#sConfirm-dialog.modal.fade.bs-example-modal-sm.dialog-main(tabindex="-1" role="dialog" aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header.dialog-header
                //button.close(type="button" data-dismiss="modal" aria-label="Close")
                    //span(aria-hidden="true") ×
                h3.modal-title 系統提示
            .modal-body.dialog-body
                p 提示內容
            .modal-footer.dialog-footer.twice-btn
                button#confirmCancel.btn.btn-dialog-else(type="button") 取消
                button#confirmBtn.btn.btn-dialog(type="button") 確定